<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--<add name="conexao" connectionString="SERVER=listazul.mysql.dbaas.com.br; DATABASE=listazul;  UID=listazul; PASSwORD=L28c7Ae2hca;"/>-->
    <!--<add name="conexao" connectionString="server=127.0.0.1; Database=LojaCarros; User id=root; password=davi;" />-->
    <add name="conexao" connectionString="SERVER=mysql.enriqueautomoveis.com.br; DATABASE=enriqueautomov;  UID=enriqueautomov; PASSWORD=8680davi;"/>

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--producao-->
    <!--<add key="DiretorioArquivoRed" value="http://www.enriqueautomoveis.com.br/arquivos/redimensionados/" />
    <add key="DiretorioArquivoNor" value="http://www.enriqueautomoveis.com.br/arquivos/normais/" />
    <add key="DiretorioArquivoMin" value="http://www.enriqueautomoveis.com.br/arquivos/miniaturas/" />
    <add key="DominioAppCliente" value="http://www.enriqueautomoveis.com.br/" />-->

    <!--desenvolvimento-->
    <add key="DiretorioArquivoRed" value="http://localhost:24594/arquivos/redimensionados/" />
    <add key="DiretorioArquivoNor" value="http://localhost:24594/arquivos/normais/" />
    <add key="DiretorioArquivoMin" value="http://localhost:24594/arquivos/miniaturas/" />
    <add key="DominioAppCliente" value="http://localhost:24594/" />

    <!--servidor local-->
    <!--<add key="DiretorioArquivoRed" value="http://localhost:85/arquivos/redimensionados/" />
    <add key="DiretorioArquivoNor" value="http://localhost:85/arquivos/normais/" />
    <add key="DiretorioArquivoMin" value="http://localhost:85/arquivos/miniaturas/" />
    <add key="DominioAppCliente" value="http://localhost:84/" />-->

  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <!-- slidingExpiration="true" -->
    <!--  Um valor booleano que indica se tempo limite do cookie de autenticação é reiniciado cada 
    vez que o usuário visita o site durante uma única sessão. O valor padrão é verdadeiro. A política 
    de tempo limite de permissão de autenticação é discutido com mais detalhes na seção Valor do Tempo
    Limite do Ticket Especificando.-->

    <!--timeout  -->
    <!--Especifica o tempo, em minutos, após o que o cookie de permissão 
    de autenticação expira. O valor padrão é 30. A política de tempo limite
    de permissão de autenticação é discutido com mais detalhes na seção Valor 
    do Tempo Limite do Ticket Especificando.-->
    <!--MAPEAMENTO DA PAGINA DE LOGIN-->
    <authentication mode="Forms">
      <!--CAMINHO DA PAGINA PARA REDIRECIONAMENTO-->
      <forms loginUrl="Login"
             timeout="1440"             
    slidingExpiration="true"
    
    />
    </authentication>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
